@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


body {
    background-color: hsl(226, 43%, 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}


.main-container {
    width: 900px;
    height: 418px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 400ms;
    min-width: 320px;
}

.header-card {
    width: 210px;
    height: 100%;
    position: relative;
}

.header-info {
    width: 100%;
    z-index: 1;
    height: 68%;
    background-color: hsl(246, 80%, 60%);
    border-radius: 13px;
    position: absolute;
}

.header-info img {
    width: 70px;
    border: 3px solid white;
    border-radius: 70px;
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    margin-bottom: 1.32rem;
}

.header-info  p {
    color: hsl(236, 100%, 87%);
    font-size: 14.2px;
    margin-left: 1.2rem;
}


.header-info  h2 {
    color: white;
    font-size: 2.2rem;
    font-weight: 300;
    margin-left: 1.2rem;
}

.header-time {
    padding-top: 34px;
    padding-left: 1.2rem;
    width: 100%;
    height: 40%;
    background-color:hsl(235, 46%, 20%);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    position: absolute;
    bottom: 0;
}

.header-time p {
    color: hsl(235, 45%, 61%);
    font-weight: 500;
    margin-top: 15px;
    font-size: 14.5px;
    transition: 400ms;
    cursor: pointer;
}





.two-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.card {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 200px;
    border-radius: 13px;
    overflow: hidden;
    position: relative;
}


.card-border {
    display: flex;
    width: 100%;
    height: 30%;
    background-color: orangered;
    position: absolute;
    top: 0;
}

.card-border img {
    margin-left: auto;
    margin-right: 5%;
}

#work {
    background-color: hsl(15, 100%, 70%);
}

#work img {
    position: absolute;
    top: -10px;
    right: 2%;
    width: 65px;
}

#play {
    background-color: hsl(195, 74%, 62%);
}

#play img {
    margin-right: 7%;
    width: 65px;
}

#study {
    background-color: hsl(348, 100%, 68%);
}
#study img {
    position: absolute;
    top: -7px;
    right: 2%;
    width: 65px;

}

#exercise {
    background-color: hsl(145, 58%, 55%);
}
#exercise img {
    position: absolute;
    top: -5px;
    right: 2%;
    width: 75px;
}

#social {
    background-color: hsl(264, 64%, 52%);
}
#social img {
    position: absolute;
    top: -2px;
    right: 2%;
    width: 70px;
}
#self-care {
    background-color: hsl(43, 84%, 65%);
}

#self-care img {
    position: absolute;
    top: -7px;
    right: 2%;
    width: 55px;
}


.card-content {
    width: 100%;
    height: 81%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    position: absolute;
    bottom: 0;
    background-color:hsl(235, 46%, 20%);
    padding: 1.3rem;
    color: white;
    font-weight: 300;
}

.card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    align-items: center;
}

.card-time {
    margin-top: 1.3rem;
    font-size: 3rem;
    margin-bottom: .5rem;
    transition: 400ms;
}

.card-previous-time {
    font-size: .75rem;
    font-weight: 500;
    color: hsl(234, 46%, 74%);
}




.attribution {
    position: absolute;
    bottom: 0;
}



@media (max-width: 870px) {
    body {
        width: 100%;
        height: max-content;
        align-items: center;
    }
    .main-container {
        margin-top: 80px;
        flex-direction: column;
        max-width: 500px;
        width: 90%;
        height: max-content;
        margin-left: auto;
        margin-right: auto;
    }
    .header-card {
        width: 100%;
        height: 240px;
        margin-bottom: 30px;
    }

    .header-info {
        display: flex;
        align-items: center;
        width: 100%;
        height: 66%;
    }

    .header-info br {
        display: none;
    }
    
    
    .header-info  p {
        font-size: 14.2px;
        margin-left: 1.2rem;
    }
    
    
    .header-info  h2 {
        font-size: 1.7rem;
        margin-left: 1.2rem;
    }

    .header-time {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 5px;
        padding-left: 0;
    }
    
    .header-time p {
        font-size: 18px;
    }

    .two-cards {
        width: 100%;
        height: 390px;
        margin-bottom: 30px;
    }

    .card {
        height: 180px;
        width: 100%;
        margin: 0;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-title {
        display: flex;
        font-size: 1.2rem;
    }

    .ellipsis {
        font-size: 2rem;
    }

    .card-time-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .card-time {
        margin: 0;
    }

    .card-previous-time {
        font-size: .9rem;
    }

    .attribution {
        position: absolute;
        bottom: 0;
    }


}


